<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document with handlebars</title>
</head>
<body>
    <h1>Nice Locations</h1>
    <ul>
        {{#each locations}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>